$backgroundGray: #8790A3;
$sectionBackground: #E7E8EC;
$black: #000;
$white: #FFF;
$aqua: #00758e;
$hotPink: #FD1F6D;

$defaultFontColor: #0f2346;

$headerHeight: 4em;

$sectionMargin: 10px;
$imageListPadding: 0.75rem;
